<!DOCTYPE html>
<html lang="en">
<head>
    <title>Tips-Water Portability Checker</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="top">

    <nav class="navbar">
        <ul>
            <li><a class="navbar-brand" href="Home.html">Water Portability Checker</a></li>
        </ul>
        <ul>
            <li><a href="Form.html">Check Now</a></li>
            <li><a href="Tips.html">Tips</a></li>
            <li><a href="#">Contact Us</a></li>
        </ul>
    </nav>
    
        <div class="topic"><h1>TIPS</h1></div>    
    
        <div class="content1">
        <h2>consider harvesting rainwater for non-potable uses<br></h2></div>
        
        <div class="content">
            <h2>If you rely on well water, have it tested regularly for contaminants<br></h2></div>
    
        <div class="content1">
                <h2>If you are unsure about water quality in your area,then boil the water<br></h2></div>
        <div class="content">
                <h2> Use a water filter for your home to remove impurities and contaminants<br></h2></div>
        <div class="content1">
                <h2> Stay yourself informed about any water quality issues in your area<br></h2>
        </div>

        <div class="content">
            <h2> Store water in clean, food-grade containers to prevent cross-contamination<br></h2>
        </div>
        <div class="content1">
            <h2> Regularly maintain appliances, like water heaters or water softeners<br></h2>
        </div>

        <div class="content">
            <h2> Avoid disposing of hazardous chemicals or pollutants down the drain or toilet<br></h2>
        </div>

        <div class="content1">
            <h2> Regularly Test your water resources for contaminants<br></h2>
        </div>
</div>

</body>
</html>